-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: mes_hermen
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `lote_wip`
--

DROP TABLE IF EXISTS `lote_wip`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lote_wip` (
  `id_lote_wip` int(11) NOT NULL AUTO_INCREMENT,
  `id_lote_padre` int(11) DEFAULT NULL,
  `codigo_lote` varchar(30) NOT NULL,
  `id_producto` int(11) NOT NULL,
  `id_maquina` int(11) DEFAULT NULL COMMENT 'Maquina que produjo (M01-M60)',
  `id_turno` int(11) DEFAULT NULL COMMENT 'Turno (1=6-14, 2=14-22, 3=22-6)',
  `id_linea_produccion` int(11) DEFAULT NULL,
  `cantidad_docenas` int(11) NOT NULL DEFAULT 0,
  `cantidad_unidades` int(11) NOT NULL DEFAULT 0,
  `cantidad_base_unidades` int(11) NOT NULL,
  `id_area_actual` int(11) NOT NULL,
  `estado_lote` enum('ACTIVO','PAUSADO','CERRADO','ANULADO') NOT NULL DEFAULT 'ACTIVO',
  `costo_mp_acumulado` decimal(14,4) NOT NULL DEFAULT 0.0000,
  `costo_unitario_promedio` decimal(14,6) NOT NULL DEFAULT 0.000000,
  `id_documento_consumo` int(11) NOT NULL,
  `id_documento_salida` int(11) NOT NULL,
  `referencia_externa` varchar(50) NOT NULL,
  `fecha_inicio` datetime NOT NULL DEFAULT current_timestamp(),
  `fecha_actualizacion` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `creado_por` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_lote_wip`),
  UNIQUE KEY `uk_lote_wip_ref` (`referencia_externa`),
  UNIQUE KEY `uk_codigo_lote` (`codigo_lote`),
  KEY `idx_lote_wip_producto` (`id_producto`),
  KEY `idx_lote_wip_area_estado` (`id_area_actual`,`estado_lote`),
  KEY `idx_lote_wip_doc` (`id_documento_consumo`),
  KEY `idx_lote_wip_padre` (`id_lote_padre`),
  KEY `idx_maquina` (`id_maquina`),
  KEY `idx_turno` (`id_turno`),
  KEY `idx_documento_salida` (`id_documento_salida`),
  CONSTRAINT `fk_lote_wip_area` FOREIGN KEY (`id_area_actual`) REFERENCES `areas_produccion` (`id_area`),
  CONSTRAINT `fk_lote_wip_documento_salida` FOREIGN KEY (`id_documento_salida`) REFERENCES `documentos_inventario` (`id_documento`) ON UPDATE CASCADE,
  CONSTRAINT `fk_lote_wip_padre` FOREIGN KEY (`id_lote_padre`) REFERENCES `lote_wip` (`id_lote_wip`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lote_wip`
--

LOCK TABLES `lote_wip` WRITE;
/*!40000 ALTER TABLE `lote_wip` DISABLE KEYS */;
/*!40000 ALTER TABLE `lote_wip` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movimientos_wip`
--

DROP TABLE IF EXISTS `movimientos_wip`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `movimientos_wip` (
  `id_movimiento` int(11) NOT NULL AUTO_INCREMENT,
  `id_lote_wip` int(11) NOT NULL,
  `id_lote_relacionado` int(11) DEFAULT NULL,
  `tipo_movimiento` enum('CREACION_EN_TEJIDO','TRANSFERENCIA_ETAPA','AJUSTE_INTERNO','RECHAZO_MERMA','CIERRE_A_PT') NOT NULL COMMENT 'CREACION_EN_TEJIDO: lote nace cuando se registra produccion (no traslado desde almacen)',
  `cantidad_docenas` int(11) NOT NULL DEFAULT 0,
  `cantidad_unidades` int(11) NOT NULL DEFAULT 0,
  `id_area_origen` int(11) DEFAULT NULL,
  `id_area_destino` int(11) DEFAULT NULL,
  `id_documento_inventario` int(11) DEFAULT NULL,
  `referencia_externa` varchar(50) DEFAULT NULL,
  `fecha` datetime NOT NULL DEFAULT current_timestamp(),
  `usuario` int(11) DEFAULT NULL,
  `observaciones` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_movimiento`),
  KEY `idx_mov_wip_lote` (`id_lote_wip`,`fecha`),
  KEY `idx_mov_wip_doc` (`id_documento_inventario`),
  KEY `fk_mov_wip_area_origen` (`id_area_origen`),
  KEY `fk_mov_wip_area_destino` (`id_area_destino`),
  KEY `idx_mov_wip_relacionado` (`id_lote_relacionado`),
  CONSTRAINT `fk_mov_wip_area_destino` FOREIGN KEY (`id_area_destino`) REFERENCES `areas_produccion` (`id_area`),
  CONSTRAINT `fk_mov_wip_area_origen` FOREIGN KEY (`id_area_origen`) REFERENCES `areas_produccion` (`id_area`),
  CONSTRAINT `fk_mov_wip_doc` FOREIGN KEY (`id_documento_inventario`) REFERENCES `documentos_inventario` (`id_documento`),
  CONSTRAINT `fk_mov_wip_lote` FOREIGN KEY (`id_lote_wip`) REFERENCES `lote_wip` (`id_lote_wip`) ON DELETE CASCADE,
  CONSTRAINT `fk_mov_wip_relacionado` FOREIGN KEY (`id_lote_relacionado`) REFERENCES `lote_wip` (`id_lote_wip`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `movimientos_wip`
--

LOCK TABLES `movimientos_wip` WRITE;
/*!40000 ALTER TABLE `movimientos_wip` DISABLE KEYS */;
/*!40000 ALTER TABLE `movimientos_wip` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `planillas_tejido`
--

DROP TABLE IF EXISTS `planillas_tejido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `planillas_tejido` (
  `id_planilla` int(11) NOT NULL AUTO_INCREMENT,
  `id_documento_salida` int(11) NOT NULL,
  `fecha_inicio` date DEFAULT NULL COMMENT 'Lunes de la semana',
  `fecha_fin` date DEFAULT NULL COMMENT 'Viernes o sabado',
  `detalles_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Backup: lotes cargados en formato JSON' CHECK (json_valid(`detalles_json`)),
  `fecha_registro` timestamp NOT NULL DEFAULT current_timestamp(),
  `registrado_por` int(11) DEFAULT NULL COMMENT 'user_id de quien registro',
  `observaciones` text DEFAULT NULL,
  `activo` tinyint(4) DEFAULT 1,
  PRIMARY KEY (`id_planilla`),
  KEY `idx_documento` (`id_documento_salida`),
  KEY `idx_fecha_registro` (`fecha_registro`),
  CONSTRAINT `fk_planillas_tejido_documento` FOREIGN KEY (`id_documento_salida`) REFERENCES `documentos_inventario` (`id_documento`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Auditoria: que planillas se cargaron, cuando, por quien, que datos';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `planillas_tejido`
--

LOCK TABLES `planillas_tejido` WRITE;
/*!40000 ALTER TABLE `planillas_tejido` DISABLE KEYS */;
/*!40000 ALTER TABLE `planillas_tejido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditorias_wip_tejido`
--

DROP TABLE IF EXISTS `auditorias_wip_tejido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auditorias_wip_tejido` (
  `id_auditoria` int(11) NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `id_area` int(11) NOT NULL,
  `estado` enum('BORRADOR','CONFIRMADO','ANULADO') NOT NULL DEFAULT 'BORRADOR',
  `usuario_registro` int(11) DEFAULT NULL,
  `fecha_registro` timestamp NOT NULL DEFAULT current_timestamp(),
  `observacion` text DEFAULT NULL,
  PRIMARY KEY (`id_auditoria`),
  KEY `idx_fecha` (`fecha`),
  KEY `fk_auditoria_area` (`id_area`),
  CONSTRAINT `fk_auditoria_area` FOREIGN KEY (`id_area`) REFERENCES `areas_produccion` (`id_area`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Cabecera de auditor??as f??sicas de hilos en planta';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditorias_wip_tejido`
--

LOCK TABLES `auditorias_wip_tejido` WRITE;
/*!40000 ALTER TABLE `auditorias_wip_tejido` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditorias_wip_tejido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditorias_wip_tejido_detalle`
--

DROP TABLE IF EXISTS `auditorias_wip_tejido_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auditorias_wip_tejido_detalle` (
  `id_detalle` int(11) NOT NULL AUTO_INCREMENT,
  `id_auditoria` int(11) NOT NULL,
  `id_inventario` int(11) NOT NULL,
  `saldo_sistema` decimal(12,4) NOT NULL DEFAULT 0.0000 COMMENT 'Suma de saldos_disponibles en sistema',
  `saldo_fisico` decimal(12,4) NOT NULL DEFAULT 0.0000,
  `diferencia` decimal(12,4) NOT NULL DEFAULT 0.0000,
  `tipo_diferencia` enum('SOBRANTE','FALTANTE','SIN_DIFERENCIA') NOT NULL,
  `accion_ejecutada` varchar(100) DEFAULT NULL COMMENT 'Ajuste WIP (+/-), Merma, etc.',
  `usuario_aprobacion` int(11) DEFAULT NULL,
  `fecha_aprobacion` datetime DEFAULT NULL,
  `observacion` text DEFAULT NULL,
  PRIMARY KEY (`id_detalle`),
  KEY `fk_aud_det_cab` (`id_auditoria`),
  KEY `fk_aud_det_inv` (`id_inventario`),
  CONSTRAINT `fk_aud_det_cab` FOREIGN KEY (`id_auditoria`) REFERENCES `auditorias_wip_tejido` (`id_auditoria`) ON DELETE CASCADE,
  CONSTRAINT `fk_aud_det_inv` FOREIGN KEY (`id_inventario`) REFERENCES `inventarios` (`id_inventario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Detalle de diferencias f??sicas detectadas';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditorias_wip_tejido_detalle`
--

LOCK TABLES `auditorias_wip_tejido_detalle` WRITE;
/*!40000 ALTER TABLE `auditorias_wip_tejido_detalle` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditorias_wip_tejido_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `consumos_wip_detalle`
--

DROP TABLE IF EXISTS `consumos_wip_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `consumos_wip_detalle` (
  `id_consumo` int(11) NOT NULL AUTO_INCREMENT,
  `id_lote_wip` int(11) NOT NULL,
  `id_documento_inventario` int(11) NOT NULL COMMENT 'FK a documentos_inventario (SAL-TEJ)',
  `id_documento_detalle` int(11) NOT NULL COMMENT 'FK a documentos_inventario_detalle',
  `id_inventario` int(11) NOT NULL,
  `cantidad_consumida` decimal(12,4) NOT NULL,
  `costo_unitario_origen` decimal(12,4) NOT NULL,
  `fecha_consumo` datetime NOT NULL DEFAULT current_timestamp(),
  `usuario_registro` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_consumo`),
  KEY `idx_lote` (`id_lote_wip`),
  KEY `idx_documento` (`id_documento_inventario`),
  KEY `idx_inventario` (`id_inventario`),
  KEY `fk_consumo_det` (`id_documento_detalle`),
  CONSTRAINT `fk_consumo_det` FOREIGN KEY (`id_documento_detalle`) REFERENCES `documentos_inventario_detalle` (`id_detalle`),
  CONSTRAINT `fk_consumo_doc` FOREIGN KEY (`id_documento_inventario`) REFERENCES `documentos_inventario` (`id_documento`),
  CONSTRAINT `fk_consumo_lote` FOREIGN KEY (`id_lote_wip`) REFERENCES `lote_wip` (`id_lote_wip`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Trazabilidad granular de qu?? lote consumi?? de qu?? documento de salida';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `consumos_wip_detalle`
--

LOCK TABLES `consumos_wip_detalle` WRITE;
/*!40000 ALTER TABLE `consumos_wip_detalle` DISABLE KEYS */;
/*!40000 ALTER TABLE `consumos_wip_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `consumos_wip_pendientes`
--

DROP TABLE IF EXISTS `consumos_wip_pendientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `consumos_wip_pendientes` (
  `id_pendiente` int(11) NOT NULL AUTO_INCREMENT,
  `id_lote_wip` int(11) NOT NULL,
  `id_inventario` int(11) NOT NULL,
  `cantidad_requerida` decimal(12,4) NOT NULL,
  `cantidad_consumida` decimal(12,4) NOT NULL DEFAULT 0.0000,
  `cantidad_pendiente` decimal(12,4) NOT NULL,
  `estado` enum('PENDIENTE','REGULARIZADO') NOT NULL DEFAULT 'PENDIENTE',
  `fecha_registro` datetime NOT NULL DEFAULT current_timestamp(),
  `usuario_registro` int(11) DEFAULT NULL,
  `fecha_regularizacion` datetime DEFAULT NULL,
  `usuario_regularizacion` int(11) DEFAULT NULL,
  `observacion` text DEFAULT NULL,
  PRIMARY KEY (`id_pendiente`),
  KEY `idx_lote_pendiente` (`id_lote_wip`),
  KEY `idx_estado` (`estado`),
  KEY `fk_pendiente_inv` (`id_inventario`),
  CONSTRAINT `fk_pendiente_inv` FOREIGN KEY (`id_inventario`) REFERENCES `inventarios` (`id_inventario`),
  CONSTRAINT `fk_pendiente_lote` FOREIGN KEY (`id_lote_wip`) REFERENCES `lote_wip` (`id_lote_wip`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Registro de faltantes te??ricos detectados durante el registro de producci??n';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `consumos_wip_pendientes`
--

LOCK TABLES `consumos_wip_pendientes` WRITE;
/*!40000 ALTER TABLE `consumos_wip_pendientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `consumos_wip_pendientes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-13  0:06:27
