-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: mes_hermen
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `documentos_inventario_detalle`
--

DROP TABLE IF EXISTS `documentos_inventario_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documentos_inventario_detalle` (
  `id_detalle` int(11) NOT NULL AUTO_INCREMENT,
  `id_documento` int(11) NOT NULL,
  `id_inventario` int(11) NOT NULL COMMENT 'FK a inventarios',
  `id_detalle_origen` int(11) DEFAULT NULL COMMENT 'ID de la l├¡nea de ingreso original',
  `cantidad` decimal(12,4) NOT NULL,
  `cantidad_original` decimal(10,2) DEFAULT NULL COMMENT 'Cantidad comprada originalmente',
  `id_unidad` int(11) DEFAULT NULL,
  `costo_unitario` decimal(14,4) NOT NULL COMMENT 'Costo sin IVA',
  `costo_adquisicion` decimal(10,4) DEFAULT NULL COMMENT 'Costo de adquisici├│n original (sin IVA)',
  `tenia_iva` tinyint(1) DEFAULT 0 COMMENT 'Si la compra original ten├¡a IVA',
  `costo_con_iva` decimal(14,4) DEFAULT NULL COMMENT 'Costo con IVA (si aplica)',
  `subtotal` decimal(14,4) NOT NULL,
  `lote` varchar(50) DEFAULT NULL,
  `fecha_vencimiento` date DEFAULT NULL,
  `observaciones` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_detalle`),
  KEY `idx_detalle_origen` (`id_detalle_origen`)
) ENGINE=InnoDB AUTO_INCREMENT=161 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documentos_inventario_detalle`
--

LOCK TABLES `documentos_inventario_detalle` WRITE;
/*!40000 ALTER TABLE `documentos_inventario_detalle` DISABLE KEYS */;
/*!40000 ALTER TABLE `documentos_inventario_detalle` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-12 23:45:18
